.button {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #ffffff;
  border-radius: 12px;
  outline: none;
  border: none;
  width: max-content;
  cursor: pointer;
  z-index: 5;

  &.primary {
    background: #245ec2;
    .icon {
      color: white;
    }
  }
   &.primary:hover {
    background: #1b4690;
    outline: 2px solid #245ec2;
  }
  &.secondary {
    background: #dddddd;
    color: black;
  }
   &.secondary:hover {
    background: #838080;
    outline: 2px solid #dddddd;
  }
  &.small {
    padding: 8px 16px;
  }
  &.large {
    padding: 12px 20px;
  }
}
